body {
    margin: 0;
    background-color: $bg-content;
    height: 100%;
    //padding-top:3rem;
}

html {
    height: 100%;
}

/*
*:focus {
    outline: none;

}
*/

* {
    box-sizing:border-box;
}
