.library-hover-button {
    border: $outline-button-a;
}

.primary-button {
    border: $outline-button-a;
}

.primary-button-inverse {
    border: none;
}

.checkout-button {
    border: none;
}

.add-to-card-button {
    border: none;
}

.go-to-store-page-headline-button {
    border: none;
}

.go-to-store-page-cart-button {
    border: none;
}

.remove-item-cart-button {
    border: none;
}

.all-search-format-button {
    border: none;
}

.other-search-format-button {
    border: $outline-button-b;
}

.headline-page-button {
    //circle button on home page
    border: $outline-button-a;
}

.add-to-library-button {
    border: none;
    border-radius: 5px;
    color: $txt-primary;
    background-color: $bg-primary-button-a;
    box-shadow: 0px 0px 5px 0px $separator;
    padding: .4rem;
    padding-bottom: .1rem;
    cursor: pointer;
    display: none;

    & span {
        color: $add-to-library-button;
    }

    &:hover {
        
        & span {
            color: $add-to-library-button-hover;
        }
    }
    
}

.add-to-library-cart-button {
    border: none;
}

.expand-list-button {
    border: $outline-button-a;
}

.sign-up-button {
    border: $outline-button-a;
}

.log-in-button {
    border: $outline-button-a;
}

.search-legacy-button {
    border: $outline-search-legacy-button;
}

