//
//OTHER
//
$separator: #303030;            //lines that separate sections
$separator-sidenav: #696969;
$search-legacy-icon: hsla(0, 100%, 100%, 0.5);
$star-full: #FFF500;
$star-half: #FFF500;
$star-empty: #B59F51;
$add-to-library-button: #fff;
$add-to-library-button-hover: #FFF500;
$cart-icon-hover: #34a853;
$lang-icon-hover: #51abe4;


//
//BACKGROUND COLOR - 121212 recommended
//
$bg-content: #181818;           //background of the content section
$bg-side-panel: #212121;    //background color of side panel
$bg-side-panel-button-hover: #383838;
$bg-side-panel-button-active-hover: #505050;
$bg-top-panel: #202020;         //background color of top panel
$bg-loading-cover: #303030;     //color while cover is loading #8a8a8a
$bg-product-info: #383838; //lower part of a product card
$bg-search: #121212; 
$bg-search-legacy-button: #222222; //old: hsla(0, 0%, 100%, 0.041);
$bg-search-legacy-button-hover: hsl(0, 0%, 18.82%);
$bg-primary-button-a: rgba(0,0,0,.85);  //black transparent
$bg-primary-button-b: rgba(0,0,0, 1);      //black
$bg-primary-button-c: rgba(0,0,0,.20);  //a bit darker
$bg-primary-button-d: #fff;             //plain white
//filters: search bar + catalog
$bg-filter-button: #313131;
$bg-filter-button-hover: #202020;
$bg-filter-button-active: #fff;
$bg-goto-storepage-button: #fff;
//categories
$bg-categories-button: #414141;
$bg-categories-button-hover: rgb(119, 119, 119);
$bg-categories-filters-button: #414141;
$bg-categories-filters-button-hover: rgb(119, 119, 119); 
$bg-categories-product-review: #1d1d1d;
$bg-categories-product-add-review: #414141;
//path
$bg-path-button: #212121;
$bg-path-button-hover: #3a3a3a;
$bg-path-button-active: #cfcfcf;
$bg-path-button-active-hover: #ebebeb;

//
//TXT COLOR
//
$txt-primary: rgba(255,255,255,.87);
$txt-primary-inverse: #030303;
$txt-primary-hover: #dddddd;
$txt-secondary: #aaa;
$txt-disabled: #717171;
$txt-search: hsla(0, 100%, 100%, 0.88);
$txt-expandbtn: #3ea6ff;//royalblue;
$txt-signin-topmenu-button: #3ea6ff;
$txt-signin-topmenu-button-hover: #0088ff;
$txt-goto-storepage-button: $txt-primary-inverse;
$txt-footer: rgba(255, 255, 255, 0.1);
$txt-button-c: #0088ff;
$txt-button-c-hover: #3ea6ff;
$txt-product-price: #ffa4a9;


//
//OUTLINE, BORDER
//
$outline-search: #303030;
$outline-search-active: #3ea6ff;
$outline-search-legacy-button: hsl(0, 0%, 18.82%);
$outline-button-a: #fff;
$outline-button-b: #4B4B4B;
$outline-button-c: $txt-button-c;
$outline-button-c-hover: $txt-button-c-hover;
$outline-cover: #303030;
$outline-filter-button: #4B4B4B; //search bar & catalog filter
$outline-signin-topmenu-button: #3ea6ff;
$outline-signin-topmenu-button-hover: #0088ff;
$outline-goto-storepage-button: #3ea6ff;
$outline-product-card: #4B4B4B; //not used because 
// Path
$outline-path-button: #4B4B4B; 
$outline-path-button-hover: #6d6d6d; 
$outline-path-button-active: $bg-path-button-active; 
$outline-path-button-active-hover: #4B4B4B; 
// Categories
$outline-category: #3ea6ff;
$outline-categories-button: #747474;
$outline-categories-button-hover: #ffffff;
$outline-categories-product-gallery: #4B4B4B;
$outline-categories-add-review: #757575;