// Filters are a part of search bar. Fixed position settings are in _searchbar.scss

.filters {
    padding: 0 18px;
    display: none;
    overflow: hidden;

    //display: flex;
    flex-direction: column;
    padding: .5rem 2rem;
    border-top: 1px solid $separator;
    border-bottom: 1px solid $separator;
    margin-left: $sidenav-width !important; /* Same as the width of the sidenav */
    background-color: $bg-top-panel; 

    .filter-section {
        display: flex;
        overflow: hidden;
    
        //All filter button
        .filters-row.active {
            background-color: $bg-filter-button-active;
            color: $txt-primary-inverse;
            border-color: $outline-button-a;
            padding: .5rem 1rem;

            &:hover {
                background-color: $bg-filter-button-active;
                color: $txt-primary-inverse;
            }
        }

        .filters-row {
            text-decoration: none;
            margin-right: 1.3rem;
            word-wrap:none;
            //white-space: nowrap;
            border: 1px solid $outline-filter-button;
            border-radius: 10px;
            background-color: $bg-filter-button;
            padding: .5rem .3rem;
            width: fit-content;
            font-size: inherit;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-align: center;
            transition: background-color 150ms;

            &::-ms-expand{
                display: none;
            }

            &:hover {
                background-color: $bg-filter-button-hover;
            }
            
            #type {
                width: 50px;
            }
/*
            #publisher {
                width: 104.233px
            }

            #price {
                width: 73.8667px;
            }

            #author {
                width: 85.3667px;
            }

            #format {
                width: 88.7833px;
            }
            */
        }
    }
}

#width_tmp_select{
    display : none; 
} 