
// CART
.cart-main {
    padding:3rem;
    .cart-list button{
        background-color: $bg-primary-button-c;
        width:fit-content;
        height:fit-content;
    }
    .cart-checkout-info{

    }
}

//PROFILE-MAIN
.profile-main {
    padding:3rem;
}