//SUPPOSED TO BE CASOUSEL BUT DIDN'T MAKE IT BECAUSE OF THE SLIDE TRANSITION (MORE BECAUSE OF ITS ABSENCE)
//

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  margin-left: $sidenav-width; /* Same as the width of the sidenav */
  height: 21em;
  background-color: $bg-loading-cover; 

  /* Hide the images by default */
    .slideshow-slide {
        display: none; 
        
        //transform: scaleY(1) scaleX(1) translateY(0px) translateX(40px);

        .slideshow-img {
            object-fit: cover;
            width: 100%;
            height: 21em;
            background-color: $bg-loading-cover; 
        }

        /* Caption text */
        .slideshow-text {
            position: absolute;
            color: $txt-primary;
            text-shadow: 2px 2px 5px $txt-primary-inverse;
            font-size: 1.5rem;
            font-weight: 600;
            padding: 2rem 4rem 0 40%;
            //padding: 8px 12px;
            
            top: 0;
            right: 0;
            //width: 100%;
            text-align: right;
        }

        .go-to-store-btn {
            position: absolute;
            bottom: 0;
            padding: 1rem 2rem;
            margin: 0 4rem 3rem 40%;
            text-decoration: none;
            font-weight: bolder;
            box-shadow: 1px 1px 5px .1px $txt-primary-inverse;
            border-radius: .2rem;
            right: 0;
            z-index: 999;
            background-color: $bg-goto-storepage-button;
            color: $txt-goto-storepage-button;
        }
    }
  
    /* Next & previous buttons */
    .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 50ms ease;
    border-radius: 0 3px 3px 0;
    user-select: none;

        /* On hover, add a black background color with a little bit see-through */
        &:hover, &:hover {
            background-color: rgba(0,0,0,0.8);
        }
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    
    /* Fading animation */
    .fade {
        $asdf: 400ms;
        -webkit-animation-name: fade;
        -webkit-animation-duration: $asdf;
        animation-name: fade;
        animation-duration: $asdf;
    }
}




.slideshow-dot-container {
    
    position:absolute;
    display: flex;
    justify-content:center;
    align-items: center;
    left:0;
    right:0;
    top: 0;
    margin-top: 17em;
    margin-left:auto;
    margin-right:auto;

    /* The dots/bullets/indicators */
    .slideshow-dot {
        cursor: pointer;
        margin: 0 1rem;
        font-size: 2.1rem;
        text-shadow: 2px 2px 5px $txt-primary-inverse;
        //padding: 0 1.6rem;
        display: inline-block;
        transition: background-color 50ms ease;
    }
}

@keyframes fade {
0% {opacity: 1}
50% {opacity: 0}
100% {opacity: 1}
}