@charset "UTF-8";
@font-face {
  font-family: "Falling Sky";
  src: url(../fonts/FallingSky-JKwK.otf) format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Falling Sky";
  src: url(../fonts/FallingSkyLight-K2EX.otf) format("opentype");
  font-style: normal;
  font-weight: lighter;
}
@font-face {
  font-family: "Falling Sky";
  src: url(../fonts/FallingSkyBold-zemL.otf) format("opentype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Falling Sky";
  src: url(../fonts/FallingSkyOblique-n5XV.otf) format("opentype");
  font-style: oblique;
  font-weight: normal;
}
@font-face {
  font-family: "Falling Sky";
  src: url(../fonts/FallingSkyLightOblique-2q3o.otf) format("opentype");
  font-style: oblique;
  font-weight: lighter;
}
@font-face {
  font-family: "Falling Sky";
  src: url(../fonts/FallingSkyBoldOblique-5zmv.otf) format("opentype");
  font-style: oblique;
  font-weight: bold;
}
@font-face {
  font-family: "Aegean";
  src: url(../fonts/Aegean-8jJ2.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Trueno";
  src: url(../fonts/Trueno-wml2.otf) format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "EkMukta";
  src: url(../fonts/EkMuktaRegular-mOLv.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "EkMukta";
  src: url(../fonts/EkMuktaLight-wO19.ttf) format("truetype");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "EkMukta";
  src: url(../fonts/EkMuktaBold-Kw7e.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}
*, *::before, *::after {
  box-sizing: border-box;
  font-family: "EkMukta", Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.87);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  all: none;
}

.library-hover-button {
  border: #fff;
}

.primary-button {
  border: #fff;
}

.primary-button-inverse {
  border: none;
}

.checkout-button {
  border: none;
}

.add-to-card-button {
  border: none;
}

.go-to-store-page-headline-button {
  border: none;
}

.go-to-store-page-cart-button {
  border: none;
}

.remove-item-cart-button {
  border: none;
}

.all-search-format-button {
  border: none;
}

.other-search-format-button {
  border: #4B4B4B;
}

.headline-page-button {
  border: #fff;
}

.add-to-library-button {
  border: none;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0px 0px 5px 0px #303030;
  padding: 0.4rem;
  padding-bottom: 0.1rem;
  cursor: pointer;
  display: none;
}
.add-to-library-button span {
  color: #fff;
}
.add-to-library-button:hover span {
  color: #FFF500;
}

.add-to-library-cart-button {
  border: none;
}

.expand-list-button {
  border: #fff;
}

.sign-up-button {
  border: #fff;
}

.log-in-button {
  border: #fff;
}

.search-legacy-button {
  border: hsl(0, 0%, 18.82%);
}

body {
  margin: 0;
  background-color: #181818;
  height: 100%;
}

html {
  height: 100%;
}

/*
*:focus {
    outline: none;

}
*/
* {
  box-sizing: border-box;
}

#sidenav {
  height: 100%;
  width: 71px;
  position: fixed;
  z-index: 999;
  top: 3.7rem;
  left: 0;
  background-color: #212121;
  overflow-x: hidden;
  padding: 0 3px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
#sidenav .sidenav-main {
  color: #aaa;
}
#sidenav .sidenav-main .active {
  background-color: #383838;
  color: rgba(255, 255, 255, 0.87);
}
#sidenav .sidenav-main .active:hover {
  background-color: #505050;
}
#sidenav .sidenav-main hr {
  color: #696969 !important;
  width: 70%;
  margin: 10px auto;
}
#sidenav .sidenav-main a {
  text-decoration: none;
  width: 100%;
  color: inherit;
  display: block;
  align-items: center;
  text-align: center;
  font-size: 0.9rem;
  border-radius: 20%;
  padding: 15px 0;
  margin: 1px 0;
  line-height: 1em;
}
#sidenav .sidenav-main a:hover {
  background-color: #383838;
}
#sidenav .sidenav-main a span {
  font-size: 1.5rem;
  color: inherit;
}
#sidenav .sidenav-footer {
  position: relative;
  margin-top: auto;
  margin-bottom: 3.7rem;
  padding: 0 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}
#sidenav .sidenav-footer * {
  color: #717171;
}
#sidenav .sidenav-footer a {
  width: 50px;
  height: 100%;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 24px;
  text-decoration: none;
  font-size: 0.9rem;
}
#sidenav .sidenav-footer a span {
  font-size: 1.9rem;
  transition: color 150ms;
}
#sidenav .sidenav-footer a:hover span {
  color: #51abe4;
}

/* On smaller screens, where height is less than 450px, 
change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.footer-container {
  padding-top: 1em;
  width: 100%;
}

.footer-text {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
  font-size: 3em;
  font-weight: bolder;
}

.footer-separator {
  border: none;
  width: 70%;
  height: 0.3em !important;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: #303030;
  margin-bottom: 0;
}

#main {
  margin-left: 71px; /* Same as the width of the sidenav */
  padding-top: 3.5rem;
}

.form-regular :-ms-input-placeholder {
  color: #949494;
  color: var(--form-placeholder);
}
.form-regular ::-ms-input-placeholder {
  color: #949494;
  color: var(--form-placeholder);
}
.form-regular h1 {
  font-size: 2.2em;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 600;
}
.form-regular label {
  vertical-align: middle;
  margin-bottom: 4px;
  display: inline-block;
}
.form-regular a {
  text-decoration: none;
  color: #0076d1;
  color: var(--links);
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: inherit;
}
.form-regular button {
  color: var(--form-text);
  background-color: #222222;
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
  transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, box-shadow 0.1s linear, transform 0.1s ease;
}
.form-regular button:hover {
  background: hsl(0, 0%, 18.82%);
}
.form-regular input {
  color: var(--form-text);
  background-color: #121212;
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
  vertical-align: top;
  transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, box-shadow 0.1s linear, transform 0.1s ease;
}
.form-regular input:focus {
  box-shadow: 0 0 0 2px rgba(0, 150, 191, 0.6705882353);
}
.form-regular input input[type=submit] {
  background-color: #d0cfcf;
  padding-right: 30px;
  padding-left: 30px;
}
.form-regular input input[type=submit]:hover {
  background: #9b9b9b;
  background: var(--button-hover);
}

.form-center {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 200px;
  margin: 5rem auto 0;
}

.form-center-align {
  text-align: center;
}

.fixed-at-top {
  position: fixed;
  width: 100%;
  top: 0;
  overflow: hidden;
  display: block;
  z-index: 1000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1rem 0.4rem 0;
  max-height: 3.75rem;
  background-color: #202020;
}
.header #logo {
  height: 25px;
  text-align: center;
  padding: 0;
  margin-left: 1rem;
  display: block;
  background-color: transparent !important;
}
.header #logo:hover {
  background-color: transparent;
}
.header #logo #logo-img {
  height: 25px;
  width: 116px;
}
.header .search-bar {
  flex-grow: 0.7;
  margin: 0 5rem 0 12rem;
  display: flex;
  font-size: 1.2em;
}
.header .search-bar .search-input {
  color: hsla(0, 100%, 100%, 0.88);
  background-color: #121212;
  width: 100%;
  font-size: inherit;
  padding: 0.3em 1em 0.3em 1em;
  border: 1px solid #303030;
  border-radius: 8px 0 0 8px;
}
.header .search-bar .search-input:focus {
  outline: none;
  border: 1px solid #3ea6ff;
}
.header .search-bar .search-btn {
  background-color: #222222;
  display: flex;
  align-items: center;
  padding: 0 1.25rem;
  border: 1px solid hsl(0, 0%, 18.82%);
  border-left: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}
.header .search-bar .search-btn span {
  color: #aaa;
}
.header .search-bar .search-btn:hover {
  background-color: hsl(0, 0%, 18.82%);
}
.header .search-bar .open-filters-btn {
  background-color: #202020;
  border: none;
  text-align: center;
  display: inline-flex;
  align-items: center;
  margin-left: 1rem;
}
.header .search-bar .open-filters-btn span {
  color: #aaa;
}
.header .menu-icons {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, auto);
  align-items: center;
}
.header .menu-icons .menu-btn {
  text-decoration: none;
  display: flex;
}
.header .menu-icons .menu-cart-btn {
  background-color: #181818;
  text-align: center;
  padding: 0.6rem 0.7rem;
  border-radius: 420px;
}
.header .menu-icons .menu-cart-btn span {
  transition: color 150ms;
  color: rgba(255, 255, 255, 0.87);
}
.header .menu-icons .menu-cart-btn:hover span {
  color: #34a853;
}
.header .menu-icons .menu-account-picture {
  width: 30px;
  height: 30px;
  border-radius: 100px;
}
.header .menu-icons .menu-account-btn {
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  flex-wrap: wrap;
  border: 1px solid #3ea6ff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: border 150ms;
}
.header .menu-icons .menu-account-btn span {
  transition: color 150ms;
}
.header .menu-icons .menu-account-btn:hover {
  border: 1px solid #0088ff;
}
.header .menu-icons .menu-account-btn:hover span {
  color: #0088ff;
}
.header .menu-icons .menu-account-btn .menu-account-icon {
  padding-right: 0.5rem;
  color: #3ea6ff;
}
.header .menu-icons .menu-account-btn .menu-account-label {
  color: #3ea6ff;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.collapsible .active, .collapsible .collapsible:hover {
  background-color: #ccc;
}

.filters {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  flex-direction: column;
  padding: 0.5rem 2rem;
  border-top: 1px solid #303030;
  border-bottom: 1px solid #303030;
  margin-left: 71px !important; /* Same as the width of the sidenav */
  background-color: #202020;
}
.filters .filter-section {
  display: flex;
  overflow: hidden;
}
.filters .filter-section .filters-row.active {
  background-color: #fff;
  color: #030303;
  border-color: #fff;
  padding: 0.5rem 1rem;
}
.filters .filter-section .filters-row.active:hover {
  background-color: #fff;
  color: #030303;
}
.filters .filter-section .filters-row {
  text-decoration: none;
  margin-right: 1.3rem;
  word-wrap: none;
  border: 1px solid #4B4B4B;
  border-radius: 10px;
  background-color: #313131;
  padding: 0.5rem 0.3rem;
  width: -moz-fit-content;
  width: fit-content;
  font-size: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: center;
  transition: background-color 150ms;
  /*
              #publisher {
                  width: 104.233px
              }

              #price {
                  width: 73.8667px;
              }

              #author {
                  width: 85.3667px;
              }

              #format {
                  width: 88.7833px;
              }
              */
}
.filters .filter-section .filters-row::-ms-expand {
  display: none;
}
.filters .filter-section .filters-row:hover {
  background-color: #202020;
}
.filters .filter-section .filters-row #type {
  width: 50px;
}

#width_tmp_select {
  display: none;
}

.products .product-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 3rem 3rem;
  padding: 3rem 0;
  margin: 0 2.5rem 0 1.5rem;
}
.products .product-section .product-container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #383838;
  width: 180px;
  height: 24rem;
  border-radius: 10px;
  box-shadow: 0 0;
  top: 0;
  border: 1px solid #4B4B4B;
  transition: top 0.1s, box-shadow ease 0.4s;
}
.products .product-section .product-container:hover {
  top: -3px;
  box-shadow: 0px 2px 7px 3px rgba(255, 255, 255, 0.19);
}
.products .product-section .product-container .cover {
  position: relative;
  display: flex;
  background-color: #303030;
  transition: top ease 0.2s;
  top: 0;
  height: 170px;
  width: 178px;
  border-radius: 10px 10px 0 0;
}
.products .product-section .product-container .cover .button-on-image {
  position: absolute;
  margin: 10px 10px auto auto;
  right: 0%;
  display: none;
}
.products .product-section .product-container .cover .cover-image {
  width: 100%;
  height: 100%;
  min-width: 120px;
  min-height: 170px;
  border-top: 1px solid #303030;
  border-right: 1px solid #303030;
  background-color: #303030;
}
.products .product-section .product-container .cover .background-cover {
  background-color: #fff;
  padding: 10px;
  width: 178px;
  height: 170px;
  display: flex;
  border-radius: 10px 10px 0 0;
}
.products .product-section .product-container .cover .background-cover .cover-image2 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px 10px 0 0;
}
.products .product-section .product-container .product-bottom-section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 5px;
  height: 100%;
}
.products .product-section .product-container .product-bottom-section * {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.products .product-section .product-container .product-bottom-section .product-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
  transition: color 150ms;
  text-overflow: ellipsis;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.products .product-section .product-container .product-bottom-section .product-title:hover {
  color: #dddddd;
}
.products .product-section .product-container .product-bottom-section .product-star-rating span {
  color: #FFF500;
  font-size: 14pt;
}
.products .product-section .product-container .product-bottom-section .star-half {
  color: #FFF500;
}
.products .product-section .product-container .product-bottom-section .no-star {
  color: #B59F51 !important;
}
.products .product-section .product-container .product-bottom-section .goto-product-category-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.products .product-section .product-container .product-bottom-section .goto-product-category-div .add-to-cart-btn {
  border: none;
  margin-left: auto;
  margin: 0;
  padding: 0;
  background: transparent;
}
.products .product-section .product-container .product-bottom-section .goto-product-category-div .goto-product-category-btn {
  margin-bottom: 0.8rem;
  text-decoration: none;
  color: #0088ff;
  border: 1px solid #0088ff;
  border-radius: 10px;
  transition: border 0.1s;
  cursor: pointer;
  padding: 1px 8px;
  position: relative;
  margin-top: auto;
  display: flex;
}
.products .product-section .product-container .product-bottom-section .goto-product-category-div .goto-product-category-btn:hover {
  border: 1px solid #3ea6ff;
  color: #3ea6ff;
}
.products .product-separated-section {
  border-top: 6px solid #303030;
  border-bottom: 6px solid #303030;
}
.products .product-separated-section .separated-section-title {
  grid-column: 1/-1;
  margin: -0.2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  font-size: 1.5rem;
  font-weight: 400 !important;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}
.products .product-separated-section .separated-section-expandbtn {
  border: none;
  background: none;
  padding: 0;
  font-weight: bold;
  font-size: 1.3rem;
  color: #3ea6ff;
  text-decoration: none;
  cursor: pointer;
}
.products .product-separated-section .separated-section-expandbtn:hover {
  color: rgba(255, 255, 255, 0.87);
}

.product-price {
  font-size: 1.3rem;
  color: #ffa4a9;
}
.product-price::before {
  content: "₽";
  color: #ffa4a9;
}
.product-price::first-letter {
  color: #ffa4a9;
  font-size: 0.9rem;
  opacity: 0.9;
  vertical-align: top;
}

.cat-categories {
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}
.cat-categories .cat-categories-category {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 400;
  align-items: center;
  display: inline-flex;
  border-radius: 10px;
  border: 1px solid #747474;
  background-color: #414141;
  padding: 0.7rem 1rem;
  margin: 3px 1px;
  cursor: pointer;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}
.cat-categories .cat-categories-category:hover {
  background-color: rgb(119, 119, 119);
  border: 1px solid #ffffff;
}
.cat-categories .cat-categories-category .category-icon {
  margin-right: 5px;
}

.cat-category-section {
  margin: 0.5rem;
  margin-bottom: 4rem;
}
.cat-category-section .cat-category-heading {
  width: 100%;
  height: 70px;
  border-radius: 10px;
  border-top: 5px solid #3ea6ff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cat-category-section .cat-category-heading .cat-category-heading-title {
  height: 100%;
  width: 100%;
  font-size: 40px;
  font-weight: 700;
  align-items: center;
  display: flex;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 2rem;
  cursor: pointer;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}
.cat-category-section .cat-category-content {
  margin-top: 0.8rem;
}
.cat-category-section .cat-category-content .cat-category-subcategory {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cat-category-section .cat-category-content .cat-category-subcategory .cat-category-subcategory-title {
  color: rgba(255, 255, 255, 0.87);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  padding: 1.8rem 3rem;
}

.cat-subcat-section {
  margin: 0.5rem;
}
.cat-subcat-section .cat-subcat-heading {
  width: 100%;
  height: 70px;
  border-radius: 10px;
  border-top: 5px solid #3ea6ff;
  background-image: url("../img/catalog/placeholder.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cat-subcat-section .cat-subcat-heading .cat-subcat-heading-title {
  height: 100%;
  width: 100%;
  font-size: 40px;
  font-weight: 700;
  align-items: center;
  display: flex;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 2rem;
  cursor: pointer;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}
.cat-subcat-section .cat-subcat-content {
  margin-top: 0.8rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem 5px;
  padding: 1rem 0;
  margin: 0 2.5rem 0 0.5rem;
}
.cat-subcat-section .cat-subcat-content .cat-subcat-sub {
  color: #030303;
  width: 300px;
  height: -moz-fit-content;
  height: fit-content;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;
  text-decoration: none;
  font-size: inherit;
  font-weight: 700;
  padding: 0.5rem 0.6rem;
  padding-left: 0.4rem;
}
.cat-subcat-section .cat-subcat-content .cat-subcat-sub .cat-subcat-sub-img {
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
}

.cat-ss-section {
  margin: 0.5rem;
}
.cat-ss-section .cat-ss-heading {
  width: 100%;
  height: 70px;
  border-radius: 10px;
  border-top: 5px solid #3ea6ff;
  background-image: url("../img/catalog/placeholder.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cat-ss-section .cat-ss-heading .cat-ss-heading-title {
  height: 100%;
  width: 100%;
  font-size: 40px;
  font-weight: 700;
  align-items: center;
  display: flex;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 2rem;
  cursor: pointer;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}
.cat-ss-section .sub-filters-section {
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 3rem auto 1rem auto;
}
.cat-ss-section .sub-filters-section .sub-filters * {
  margin-right: 10px;
}
.cat-ss-section .sub-filters-section .sub-filters .sub-filters-select {
  width: 200px;
  text-overflow: ellipsis;
  color: rgba(255, 255, 255, 0.87);
  background-color: #313131;
  border: 1px solid #4B4B4B;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}
.cat-ss-section .sub-filters-section .sub-filters-apply-btn {
  display: block;
  width: 80px;
  color: rgba(255, 255, 255, 0.87);
  background-color: #414141;
  border: 1px solid #4B4B4B;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 8px;
}
.cat-ss-section .sub-filters-section .sub-filters-apply-btn:hover {
  background-color: rgb(119, 119, 119);
}
.cat-ss-section .cat-ss-content {
  margin-top: 0.8rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem 5px;
  padding: 1rem 0;
  margin: 0 2.5rem 0 0.5rem;
}
.cat-ss-section .cat-ss-content .cat-ss-cats {
  color: #030303;
  width: 300px;
  height: -moz-fit-content;
  height: fit-content;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;
  text-decoration: none;
  font-size: inherit;
  font-weight: 700;
  padding: 0.5rem 0.6rem;
  padding-left: 0.4rem;
}
.cat-ss-section .cat-ss-content .cat-ss-cats .cat-ss-cats-img {
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
}

#main {
  height: 100%;
}

.product-main {
  height: 100%;
}
.product-main .product-info {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 2rem;
  margin-left: 1.8rem;
}
.product-main .product-info .product-text-info {
  margin-top: 0.8rem;
}
.product-main .product-info .product-text-info .product-star-rating-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  font-size: 16px;
  line-height: 3px;
}
.product-main .product-info .product-text-info .product-star-rating-link .product-star-rating {
  margin-right: 5px;
}
.product-main .product-info .product-text-info .product-star-rating-link .product-star-rating span {
  color: #FFF500;
  font-size: 25px;
}
.product-main .product-info .product-text-info .product-star-rating-link .star-half {
  color: #FFF500;
}
.product-main .product-info .product-text-info .product-star-rating-link .no-star {
  color: #B59F51 !important;
}
.product-main .product-info .product-text-info .product-info-specs {
  margin-top: 1rem;
}
.product-main .product-info .product-text-info .product-info-specs li {
  font-size: 16px;
}
.product-main .product-info .product-text-info .product-info-description {
  font-size: 1.2rem;
}
.product-main .product-info .product-gallery {
  margin-top: 0.8rem;
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;
  background-color: #303030;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  border: 1px solid #4B4B4B;
  border-radius: 20px;
}
.product-main #product-reviews {
  width: 100%;
  padding-left: 2.5rem;
}
.product-main #product-reviews .product-review-add {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 0.5rem;
  border-radius: 10px;
  width: 70%;
  margin-bottom: 2rem;
}
.product-main #product-reviews .product-review-add .product-review-add-header {
  background-color: #414141;
  border-top: 1px solid #757575;
  border-left: 1px solid #757575;
  border-right: 1px solid #757575;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}
.product-main #product-reviews .product-review-add .product-review-add-main {
  background-color: #414141;
  border-bottom: 1px solid #757575;
  border-left: 1px solid #757575;
  border-right: 1px solid #757575;
  border-radius: 0 0 10px 10px;
}
.product-main #product-reviews .product-reviews-header {
  display: inline;
  text-align: center;
}
.product-main #product-reviews .product-review {
  background-color: #1d1d1d;
  margin: 0 auto;
  padding: 2rem;
  padding-bottom: 0.5rem;
  border-radius: 10px;
  width: 70%;
}
.product-main #product-reviews .product-review .product-star-rating {
  margin-right: 5px;
}
.product-main #product-reviews .product-review .product-star-rating span {
  color: #FFF500;
  font-size: 15px;
}
.product-main #product-reviews .product-review .star-half {
  color: #FFF500;
}
.product-main #product-reviews .product-review .no-star {
  color: #B59F51 !important;
}

.path-row {
  margin: 1rem 0 3rem 2rem;
}
.path-row * {
  color: rgba(255, 255, 255, 0.87);
  background-color: #212121;
  border: 1px solid #4B4B4B;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 1rem;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: -4px;
  cursor: pointer;
}
.path-row *:hover {
  color: rgba(255, 255, 255, 0.87);
  background-color: #3a3a3a;
  border: 1px solid #6d6d6d;
}
.path-row .path-root-btn {
  color: #030303;
  background-color: #cfcfcf;
  border: 1px solid #cfcfcf;
  cursor: default;
}
.path-row .path-end-btn {
  border-radius: 0 10px 10px 0;
  pointer-events: none;
  color: #030303;
  background-color: #cfcfcf;
  border: 1px solid #cfcfcf;
  cursor: default;
}

.cart-main {
  padding: 3rem;
}
.cart-main .cart-list button {
  background-color: rgba(0, 0, 0, 0.2);
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.profile-main {
  padding: 3rem;
}

.about-main {
  padding: 3rem;
}
.about-main .address-map {
  height: 150px;
  width: 400px;
}

.admin-main .admin-table {
  width: 30%;
  border: 1px solid black;
}
.admin-main .admin-table td {
  border: 1px solid black;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  margin-left: 71px; /* Same as the width of the sidenav */
  height: 21em;
  background-color: #303030;
  /* Hide the images by default */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* Fading animation */
}
.slideshow-container .slideshow-slide {
  display: none;
  /* Caption text */
}
.slideshow-container .slideshow-slide .slideshow-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 21em;
  background-color: #303030;
}
.slideshow-container .slideshow-slide .slideshow-text {
  position: absolute;
  color: rgba(255, 255, 255, 0.87);
  text-shadow: 2px 2px 5px #030303;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2rem 4rem 0 40%;
  top: 0;
  right: 0;
  text-align: right;
}
.slideshow-container .slideshow-slide .go-to-store-btn {
  position: absolute;
  bottom: 0;
  padding: 1rem 2rem;
  margin: 0 4rem 3rem 40%;
  text-decoration: none;
  font-weight: bolder;
  box-shadow: 1px 1px 5px 0.1px #030303;
  border-radius: 0.2rem;
  right: 0;
  z-index: 999;
  background-color: #fff;
  color: #030303;
}
.slideshow-container .prev, .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 50ms ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  /* On hover, add a black background color with a little bit see-through */
}
.slideshow-container .prev:hover, .slideshow-container .prev:hover, .slideshow-container .next:hover, .slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.slideshow-container .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 400ms;
  animation-name: fade;
  animation-duration: 400ms;
}

.slideshow-dot-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  margin-top: 17em;
  margin-left: auto;
  margin-right: auto;
  /* The dots/bullets/indicators */
}
.slideshow-dot-container .slideshow-dot {
  cursor: pointer;
  margin: 0 1rem;
  font-size: 2.1rem;
  text-shadow: 2px 2px 5px #030303;
  display: inline-block;
  transition: background-color 50ms ease;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.carousel {
  position: relative;
  margin: auto;
  height: 21em;
  background-color: #303030;
  overflow: hidden;
}
.carousel .carousel-indicators {
  padding-bottom: 1rem;
}
.carousel .carousel-indicators .carousel-nav-button {
  box-shadow: 2px 2px 5px #030303;
  height: 20px;
  width: 30px;
  border: none;
  border-radius: 999px;
  z-index: 900;
}
.carousel .carousel-inner {
  height: 21em;
}
.carousel .carousel-inner .carousel-slide-img {
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 21em;
}
.carousel .carousel-inner .carousel-caption {
  top: 0;
  right: 0;
  margin-right: 0;
  margin-left: auto;
  padding: 2rem;
  padding-right: 4rem;
  text-align: right;
  width: 60%;
}
.carousel .carousel-inner .carousel-caption h5 {
  font-size: 3rem !important;
  font-weight: 600;
  text-shadow: 2px 2px 5px #030303;
}
.carousel .carousel-inner .carousel-caption p {
  font-size: 1.3rem !important;
  text-shadow: 2px 2px 5px #030303;
}
.carousel .carousel-inner .carousel-caption .carousel-gotostore {
  position: absolute;
  display: block !important;
  text-decoration: none;
  background-color: #fff;
  color: #030303;
  border: 2px solid #3ea6ff;
  font-size: 1.1rem;
  font-weight: 600 !important;
  right: 0;
  margin-right: 4rem;
  margin-top: 1.5rem;
  padding: 1rem 3rem;
  border-radius: 0.4rem;
}
.carousel .carousel-control-prev, .carousel .carousel-control-next {
  width: 4rem !important;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}
.carousel .carousel-control-prev span, .carousel .carousel-control-next span {
  z-index: 900;
}
.carousel .carousel-control-prev:hover, .carousel .carousel-control-prev:hover, .carousel .carousel-control-next:hover, .carousel .carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.library-0-container {
  display: flex;
  position: relative;
  height: 100%;
  min-height: 100%;
  align-items: flex-start;
  top: 6em;
  flex-direction: column;
  text-align: center;
}
.library-0-container .signed-out-image {
  -o-object-fit: contain;
     object-fit: contain;
  width: 11em;
}
.library-0-container h4 {
  padding-top: 3em;
  padding-bottom: 1em;
}
.library-0-container * {
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}
.library-0-container .login-button {
  color: #030303;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 0.1rem;
  font-weight: bolder;
}
.library-0-container .signedout-buttons-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, auto);
  align-items: center;
}
.library-0-container .signedout-buttons-container a {
  padding: 0.7rem 2rem;
  font-size: 14px;
}
.library-0-container .signedout-buttons-container .signup-button {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 0.1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.library-0-container .signedout-buttons-container .signup-button .sign-up-button-icon {
  margin-right: 1rem;
}
.library-0-container .signedout-buttons-container .signup-button .sign-up-button-text {
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */